<%- include('./module/header') %>
  <div class="main-module">
    <!-- react逻辑 -->
    <div class="mod-<%- viewName %>"></div>
  </div>
<%- include('./module/footer')%>
<script src="/dist/common.js"></script>
<script src="/dist/<%- viewName %>.js"></script>